<!--<button mat-raised-button (click)="addColumn()">Add Column</button>
<button mat-raised-button (click)="removeColumn()">Remove Column</button>
<button mat-raised-button (click)="shuffleColumns()">Shuffle Columns</button>
-->
<!--<mat-table [dataSource]="inventoryList" class="mat-elevation-z8">

  <ng-container matColumnDef="column" *ngFor="let column of displayedColumns">
    <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
    <mat-cell *matCellDef="let inventoryItem"> {{inventoryItem.[column]}} </mat-cell>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</mat-table>-->
<mat-card>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
</mat-card>