<form class="SignUpFormClass">
    <mat-form-field class="full-width">
        <input matInput placeholder="Enter Username"/>
    </mat-form-field>
    <mat-form-field class="full-width">
        <textarea matInput placeholder="Enter Email Address"></textarea>
    </mat-form-field>
    <mat-form-field class="full-width">
        <textarea matInput placeholder="Confirm Password"></textarea>
    </mat-form-field>
    <mat-form-field class="full-width">
        <textarea matInput placeholder="Enter Password"></textarea>
    </mat-form-field>
</form>


    <a (click)="onFok()" routerlink="/">Sign Up</a>